<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="false">
    <springProperty scop="context" name="spring.application.name" source="spring.application.name" defaultValue="logs"/>
    <property name="log.path" value="logs/${spring.application.name}"/>
    <property name="APPENDER_ENCODER_PATTERN"
              value="%yellow(%date{MM-dd HH:mm:ss.SSS}) |%highlight(%-5level) |%blue(%thread) |%blue(%logger{50}:%line) |%cyan(%msg%n)"/>
    <!-- Console log output -->
    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>${APPENDER_ENCODER_PATTERN}</pattern>
        </encoder>
    </appender>
    <!-- Log file debug output -->
    <appender name="debug" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/debug.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/%d{yyyy-MM}/debug.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>50MB</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${APPENDER_ENCODER_PATTERN}</pattern>
        </encoder>
    </appender>
    <!-- Log file error output -->
    <appender name="error" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/error.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/%d{yyyy-MM}/error.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>50MB</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${APPENDER_ENCODER_PATTERN}</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>ERROR</level>
        </filter>
    </appender>

    <!-- 开发环境 -->
    <springProfile name="dev">
        <logger name="com.smart4y.cloud" level="debug"/>
        <logger name="org.springframework.amqp" level="off"/>
        <logger name="com.alibaba.nacos.client.naming" level="off"/>
        <logger name="org.mybatis.spring.mapper.ClassPathMapperScanner" level="off"/>
        <logger name="org.springframework.boot.actuate.endpoint.EndpointId" level="off"/>

        <root level="info">
            <appender-ref ref="console"/>
            <appender-ref ref="debug"/>
            <appender-ref ref="error"/>
        </root>
    </springProfile>
    <!-- 生产环境 -->
    <springProfile name="online">
        <logger name="com.smart4y.cloud" level="info"/>
        <logger name="org.springframework.amqp" level="error"/>
        <logger name="com.alibaba.nacos.client.naming" level="error"/>
        <logger name="org.mybatis.spring.mapper.ClassPathMapperScanner" level="error"/>
        <logger name="org.springframework.boot.actuate.endpoint.EndpointId" level="error"/>

        <root level="error">
            <appender-ref ref="console"/>
            <appender-ref ref="debug"/>
            <appender-ref ref="error"/>
        </root>
    </springProfile>
</configuration>