<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smart4y.cloud.base.domain.repository.BaseCustomMapper">

    <select id="selectAppAuthorities" resultType="com.smart4y.cloud.core.domain.model.OpenAuthority">
        SELECT
            a.authority_id,
            a.authority,
            ap.expire_time,
            'app' AS owner
        FROM
            base_authority_app AS ap
        INNER JOIN base_authority AS a ON ap.authority_id = a.authority_id
        WHERE
            ap.app_id = #{appId}
        AND
            a.status = 1
    </select>
    <select id="selectAllAuthorityResource" resultType="com.smart4y.cloud.core.application.dto.AuthorityResourceDTO">
        SELECT
            a.authority_id,
            a.authority,
            menu.path,
            menu.service_id,
            '1' AS is_auth,
            '1' AS is_open,
            menu.`status`,
            route.path AS prefix
        FROM
            base_authority AS a
        INNER JOIN base_menu AS menu ON a.menu_id = menu.menu_id
        LEFT JOIN gateway_route AS route ON route.route_name = menu.service_id
        WHERE
            menu.`status` = 1
        UNION ALL
        SELECT
            a.authority_id,
            a.authority,
            api.path,
            api.service_id,
            api.is_auth,
            api.is_open,
            api.`status`,
            route.path AS prefix
        FROM
            base_authority AS a
        INNER JOIN base_api AS api ON a.api_id = api.api_id
        LEFT JOIN gateway_route AS route ON route.route_name = api.service_id
        UNION ALL
            SELECT
                a.authority_id,
                a.authority,
                api.path,
                api.service_id,
                api.is_auth,
                api.is_open,
                api.`status`,
                route.path AS prefix
            FROM
                base_authority_action AS ac
            INNER JOIN base_authority AS a ON a.action_id = ac.action_id
            INNER JOIN base_authority AS a2 ON ac.authority_id = a2.authority_id
            INNER JOIN base_api AS api ON a2.api_id = api.api_id
            INNER JOIN base_action AS action ON ac.action_id = action.action_id
            LEFT JOIN gateway_route AS route ON route.route_name = api.service_id
            WHERE
                action.`status` = 1
    </select>
    <select id="selectMenuAuthoritiesAll" resultType="com.smart4y.cloud.core.application.dto.AuthorityMenuDTO">
        SELECT
            a.authority_id,
            a.authority,
            m.*
        FROM
            base_authority AS a
        INNER JOIN base_menu AS m ON a.menu_id = m.menu_id
        WHERE
            m.status = 1
    </select>
    <select id="selectUserRoles" resultType="com.smart4y.cloud.base.domain.model.BaseRole">
        SELECT
            base_role_user.user_id,
            base_role.role_id,
            base_role.role_code,
            base_role.role_name,
            base_role.role_desc,
            base_role.status,
            base_role.create_time,
            base_role.update_time
        FROM
            base_role_user
        INNER JOIN base_role ON base_role_user.role_id = base_role.role_id
        WHERE
            user_id = #{userId}
        AND
            status = 1
    </select>
    <select id="selectAdminAuthorities" resultType="com.smart4y.cloud.core.domain.model.OpenAuthority">
        SELECT
            authority_id,
            authority,
            'user' AS owner
        FROM base_authority
        WHERE
            status = 1
        AND
            api_id IS NULL
    </select>
    <select id="selectRoleAuthorities" resultType="com.smart4y.cloud.core.domain.model.OpenAuthority">
        SELECT
            a.authority_id,
            a.authority,
            rp.expire_time,
            'role' AS owner
        FROM
            base_authority_role AS rp
        INNER JOIN base_authority AS a ON rp.authority_id = a.authority_id
        WHERE
            rp.role_id = #{roleId}
        AND
            a.status = 1
    </select>
    <select id="selectUserAuthorities" resultType="com.smart4y.cloud.core.domain.model.OpenAuthority">
        SELECT
            a.authority_id,
            a.authority,
            up.expire_time,
            'user' AS owner
        FROM
            base_authority_user AS up
                INNER JOIN base_authority AS a ON up.authority_id = a.authority_id
        WHERE
            up.user_id = #{userId}
         AND
            a.status = 1
    </select>
</mapper>