<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smart4y.cloud.base.infrastructure.mapper.BaseAuthorityCustomMapper">
    <select id="selectAllAuthorityResource" resultType="com.smart4y.cloud.core.dto.AuthorityResourceDTO">
        SELECT
            a.authority_id,
            a.authority,
            menu.path,
            menu.service_id,
            '1' AS is_auth,
            '1' AS is_open,
            menu.`status`,
            route.path AS prefix
        FROM
            base_authority AS a
        INNER JOIN base_menu AS menu ON a.menu_id = menu.menu_id
        LEFT JOIN gateway_route AS route ON route.route_name = menu.service_id
        WHERE
            menu.`status` = 1
        UNION ALL
        SELECT
            a.authority_id,
            a.authority,
            api.path,
            api.service_id,
            api.is_auth,
            api.is_open,
            api.`status`,
            route.path AS prefix
        FROM
            base_authority AS a
        INNER JOIN base_operation AS api ON a.api_id = api.api_id
        LEFT JOIN gateway_route AS route ON route.route_name = api.service_id
        UNION ALL
            SELECT
                a.authority_id,
                a.authority,
                api.path,
                api.service_id,
                api.is_auth,
                api.is_open,
                api.`status`,
                route.path AS prefix
            FROM
                base_authority_element AS ac
            INNER JOIN base_authority AS a ON a.action_id = ac.action_id
            INNER JOIN base_authority AS a2 ON ac.authority_id = a2.authority_id
            INNER JOIN base_operation AS api ON a2.api_id = api.api_id
            INNER JOIN base_element AS action ON ac.action_id = action.action_id
            LEFT JOIN gateway_route AS route ON route.route_name = api.service_id
            WHERE
                `action`.`status` = 1
    </select>
    <select id="selectAuthorityMenu" resultType="com.smart4y.cloud.core.dto.AuthorityMenuDTO">
        SELECT
        a.authority_id,
        a.authority,
        m.*
        FROM
        base_authority AS a
        INNER JOIN base_menu AS m ON a.menu_id = m.menu_id
        <where>
            <if test="status!=null">
                AND m.status = #{status}
            </if>
        </where>
    </select>
    <select id="selectAuthorityApi" resultType="com.smart4y.cloud.core.dto.AuthorityApiDTO">
        SELECT
        a.authority_id,
        a.authority,
        api.*,
        route.path as prefix
        FROM
        base_authority AS a
        INNER JOIN base_operation AS api ON a.api_id = api.api_id
        INNER JOIN gateway_route AS route ON route.route_name = api.service_id
        <where>
            <if test="status!=null">
                AND api.status = #{status}
            </if>
            <if test="serviceId!=null and serviceId!=''">
                AND api.service_id = #{serviceId}
            </if>
        </where>
        ORDER BY api.created_date DESC
    </select>
    <select id="selectAuthorityAll" resultType="com.smart4y.cloud.core.dto.OpenAuthority">
        SELECT
        authority_id,
        authority,
        'user' AS owner
        FROM base_authority
        <where>
            <if test="status!=null">
                AND status = #{status}
            </if>
            <if test="type!=null and type!='' and type == '1'.toString()">
                AND api_id IS NULL
            </if>
            <if test="type!=null and type!='' and type == '2'.toString()">
                AND api_id IS NOT NULL
            </if>
        </where>
    </select>
</mapper>