<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smart4y.cloud.base.infrastructure.mapper.BaseAuthorityRoleCustomMapper">
    <select id="selectAuthorityMenuByRole" resultType="com.smart4y.cloud.core.dto.AuthorityMenuDTO">
        SELECT
            a.authority_id,
            a.authority,
            a.`status`,
            m.*,
            rp.role_id,
            rp.expire_time
        FROM
            base_authority_role AS rp
        INNER JOIN base_authority AS a ON rp.authority_id = a.authority_id
        INNER JOIN base_menu AS m ON a.menu_id = m.menu_id
        WHERE
            rp.role_id = #{roleId}
        AND
            a.status = 1
    </select>
    <select id="selectAuthorityByRole" resultType="com.smart4y.cloud.core.dto.OpenAuthority">
        SELECT
            a.authority_id,
            a.authority,
            rp.expire_time,
            'role' as owner
        FROM
            base_authority_role AS rp
        INNER JOIN base_authority AS a ON rp.authority_id = a.authority_id
        WHERE
            rp.role_id = #{roleId}
        AND
            a.status = 1
    </select>
</mapper>